/** Tags */

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

.title {
  font-weight: 400;
}

.sub-text {
  font-weight: 300;
  color: #222;
}

ol li {
  margin: 0 !important;
}

ol.ba-list li {
  margin: 0 !important;
  line-height: 35px !important;
}

/** Custom CSS */

.faq-margin {
  margin: 0 30px;
}

.cursor-pointer {
  cursor: pointer;
}

.font-sixteen {
  font-size: 16px;
}

.color-white {
  color: #fff;
}

.color-primary {
  color: #03a9f4 !important;
}

.navbar-pasific .navbar-brand {
  color: #fff;
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
}

.navbar-brand-custom {
  color: #555;
  font-family: "Rubik", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  float: left;
  height: 50px;
  padding: 15px 15px;
  line-height: 20px;
}

.sr {
  font-weight: 600;
}

.bg-light-grey {
  background: #f6f6f6;
}

.gallery .ba-list {
  line-height: 35px !important;
  margin: 0 0 0 20px !important;
  font-size: 18px;
  font-weight: 400;
}

.ba-list {
  line-height: 35px !important;
  margin: 0 !important;
  font-size: 18px;
  font-weight: 400;
}

.ba-list>li>ul,
.gallery .ba-list>li>ul {
  margin: 0 0 0 20px;
  font-size: 18px;
}

.font-size-18 {
  font-size: 18px;
}

.video-container {
  height: 24em;
}

@media(max-width: 1023px) {

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.667em;
  }

  .video-container {
    margin-top: 48px;
    height: 16em;
  }
}

.terms-list {
  font-weight: 700;
  padding: 0 12px;
  font-size: 16px;
  line-height: 35px;
}

.terms-list>li {
  margin: 20px 0 !important;
}

.terms-list>li>span {
  font-weight: 500;
}

.terms-list ol {
  font-size: 16px;
}

.small-font {
  font-size: 12px;
}

.feature-icon-dimen {
  height: 30px;
  width: 30px;
}


/** override **/

.content-box.content-box-right-icon h4,
.content-box.content-box-right-icon h5 {
  margin-right: 56px;
}

.line-height-13 {
  line-height: 13px;
}

.lead {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.667em;
  color: #666;
}

.navbar-pasific .navbar-nav>li {
  font-size: 14px;
}

.navbar-pasific .navbar-nav>li>a {
  color: rgba(255, 255, 255, 1);
}

.hero-bg {
  background-image: radial-gradient(ellipse at 50% 50%, #03a9f4 0, #03a9f4 50%, #03a0e4 75%);
}

.intro {
  background-image: radial-gradient(ellipse at 50% 50%, #03a9f4 0, #03a9f4 50%, #03a0e4 75%);
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-ico {
  font-size: 42px;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.brand-text {
  margin: 0 0 0 15px;
}

.brand-logo {
  background: url('https://cdn.bizanalyst.in/assets/img/logo/logo-white-30x30.png') center center no-repeat;
  width: 32px;
  height: 32px;
  display: inline-block;
}

.top-nav-collapse .brand-logo {
  background: url('https://cdn.bizanalyst.in/assets/img/logo/logo-32x32.png') center center no-repeat;
}

.feature-desc .ba-list {
  font-size: 18px;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.pl-pr {
  padding: 10px;
}

.no-padding-margin {
  padding: 0;
  margin: 0;
}

.navbar-margin {
  margin: 0 98px 0 0;
}

.try-btn-container {
  margin: 15px 15px 0 0;
  float: right;
  visibility: hidden;
}

@media(max-width: 1023px) {
  .try-btn-container {
    margin: -36px 64px 0 0;
  }
}

.try-btn:hover {
  color: #fff !important;
}

.navbar-op.top-nav-collapse .navbar-nav li a.try-btn {
  color: #fff !important;
}

.navbar-pasific .navbar-nav>li a.try-btn:hover,
.navbar-pasific .navbar-nav>.active>a.try-btn,
.navbar-pasific .navbar-nav>.active>a.try-btn:hover,
.navbar-pasific .navbar-nav>.active>a.try-btn:focus,
.navbar-pasific .navbar-nav>.active>a.try-btn:active,
.navbar-pasific .navbar-nav>.active>a.try-btn:visited {
  background-color: #FF4040 !important;
}

.download-section h1,
.download-section h2,
.download-section h3,
.download-section h4,
.download-section h5,
.download-section h6,
.download-section h7 {
  color: #333;
}

.download-section p {
  font-size: 16px;
  color: #87898f;
}

button.btn.btn-light {
  background-color: #03a9f4;
  width: 100%;
  color: #fff;
  padding: 14px 12px;
  font-size: 18px;
}

.dwn-link {
  text-align: center;
  margin-bottom: 32px;
}

.download-btn {
  font-size: 18px;
  padding: 8px 14px !important;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #ff5252;
  color: #fff !important;
  transition: background-color .3s;
  text-decoration: none !important;
}

.send-me-link {
  visibility: hidden;
}

.sidebar-list {
  font-size: 16px;
  color: #333;
  font-weight: 400;
  line-height: 26px;
}

.section-title {
  color: #000;
}

.content-box {
  padding: 24px;
}

.content-box-o {
  border: 1px solid rgba(204, 204, 204, 0.2);
}

.content-box p {
  font-size: 16px;
}

.content-box p.content-collapse {
  height: 80px;
  overflow: hidden;
  transition: height 0.15s ease-out;
}

.content-box p.content-expand {
  height: auto;
  overflow: auto;
  transition: height 0.25s ease-in;
}

.steps-round {
  border-radius: 100px;
  border: 1px solid rgba(255, 82, 82, 0.34);
  padding: 10px 20px;
  width: auto;
  font-size: 1.8em !important;
  font-weight: 400;
}

.steps-content {
  margin: 20px 0 20px 0;
}

.color-android {
  color: #74bf63
}

.color-apple {
  color: #000;
}

.secondary-nav-font {
  color: #555 !important;
}

@media(max-width: 768px) {
  .navbar-op .navbar-brand {
    color: #333 !important;
    font-size: 1.3em;
  }

  .brand-logo {
    background: url('assets/img/logo/logo-30x30.png') center center no-repeat;
  }

  .try-btn-container {
    margin: -34px 75px 0 0;
  }
}

@media (max-width: 1023px) {
  .navbar-op .collapse.in {
    display: block !important;
    background-color: #fff;
  }

  .navbar-pasific .navbar-nav>li>a {
    color: #333;
  }
}

.ratings {
  background: url('https://cdn.bizanalyst.in/assets/img/other/rating.png') center no-repeat;
  width: 180px;
  height: 40px;
  margin: 0 auto;
}

.box-shadow {
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
}

.instructions {
  font-size: 18px;
  font-size: 18px;
  font-weight: 200;
  font-family: "Roboto";
  color: #666;
}

/**
   * Customize Smart Wizard
   */
.sw-theme-arrows>ul.step-anchor>li.active>a {
  border-color: #FF4040 !important;
  color: #fff !important;
  background: #FF4040 !important;
}

.sw-theme-arrows>ul.step-anchor>li.active>a:after {
  border-left: 30px solid #FF4040 !important;
}

.sw-theme-arrows>ul.step-anchor>li.done>a {
  border-color: #7cb342 !important;
  color: #fff !important;
  background: #7cb342 !important;
}

.sw-theme-arrows>ul.step-anchor>li.done>a:after {
  border-left: 30px solid #7cb342;
}

/**
   * Carousel
   */
.carousel .item {
  background-color: #fff;
}

.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .1) 0, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}

.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, 0.1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}

.mt-16 {
  margin-top: 16px;
}

._terms-cdn {
  margin-top: 4px;
  margin-bottom: 4px;
  margin-bottom: 8px;
  font-family: "Roboto";
  font-weight: 300;
}

.price-body ul>li {
  color: #ed9220 !important;
  font-size: 18px;
  font-weight: 400;
}

.pricing-period {
  font-size: 30px !important;
}

.price-three .price-body {
  padding: 0;
}

.original-price {
  font-size: 40px !important;
}

.original-price sup {
  font-size: 18px;
}

.strikethrough {
  position: relative;
  /* lets us position the `::after` relative to this element */
}

.strikethrough::after {
  content: '';
  /* pseudo-elements must always have a `content` */
  position: absolute;
  /* lets us position it with respect to the `.fancy-strikethrough */

  /* placement */
  left: 0;
  top: 50%;

  /* make it a line */
  height: 2px;
  width: 100%;
  background: black;
}

.footer-two {
  padding-bottom: 96px;
}

.pricing-subtext {
  font-size: 2.2em;
  color: #3dace1;
  font-weight: 300 !important;
}

.margin-bottom-none {
  margin-bottom: 0;
}

.country-select-container {
  width: 160px;
  display: inline-block;
  position: absolute;
  top: 27px;
  right: 0;
}

@media(max-width: 768px) {
  .country-select-container {
    top: -40px;
  }
}

.socialicons {
  padding: 16px 8px;
}

.socialicons svg {
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

.disableClick {
  pointer-events: none;
  cursor: default;
  opacity: 0.4;
}

.enableClick {
  pointer-events: default;
}

.sendLinkButton {
  border-radius: 4px;
  border: none;
  background-color: #03a9f4;
  color: white;
  height: 48px;
  width: 108px;
  margin-left: 24px;
}

.countryCodeList {
  margin-top: 10px;
  width: 100%;
}

.success-result-bg {
  font-size: 16px;
  padding: 8px;
  background: #2ecc71;
}

.failure-result-bg {
  padding: 8px;
  background: #e74c3c;
}

.result-style {
  color: #fff;
  border-radius: 3px;
  border: none;
  margin-top: -10px;
}

.container-fluid.send-me-link {
  padding-left: 0px !important;
}

.navbar-fixed-bottom {
  z-index: 9999;
  visibility: hidden;
}

.form-control {
  background-color: #fff;
  border: 1px solid #f2f2f2;
  padding: 20px 20px;
  height: 50px;
}
