/*  --------------------------------------------------------
28. CONTACT US
-------------------------------------------------------- */
/*----------media queries---------------------------*/


/*  ----------------------------------------------------
15. TESTIMONIAL
-------------------------------------------------------- */
.pb50{
	margin-bottom: 50px;
}
.testimonial .testimonial-header {
    margin-bottom: 20px;
    font-size: 12px;
}
.testimonial .testimonial-header a {
    color: #aaa;
}
.testimonial .testimonial-header img {
    width: 60px;
    height: 60px;
}

.testimonial .testimonial-body p {
    line-height: 25px;
    margin-bottom: 15px;
}
.testimonial .testimonial-footer {
    font-size: 12px;
}
.testimonial .testimonial-header i,
.testimonial .testimonial-footer i {
    margin-right: 5px;
}
.testimonial .testimonial-footer a {
    color: #aaa;
    margin-left: 5px;
}
.testimonial-center {
    text-align: center;
    padding: 0 30px;
}
.testimonial-left {
    text-align: left;
    padding: 0 20px;
}
.testimonial-right {
    text-align: right;
    padding: 0 20px;
}
.testimonial-center .testimonial-header img {
    margin: 0 auto;
}
.testimonial-left .testimonial-header {
    float: left;
    margin-right: 20px;
}
.testimonial-right .testimonial-header {
    float: right;
    margin-left: 20px;
}

.testimonial-left .testimonial-footer {
    margin-left: 80px;
}

.testimonial-right .testimonial-footer {
    margin-right: 80px;
}
.mt20{
	margin-top: 5px !important;
}
.pb50{
	margin-bottom: 5px;
}
.bb-solid-1{
	border: none !important;
}
.ln-1{
	border: none !important;
}

/* Testimonial with Isoceles Icon */
.testimonial-triangle-isosceles .testimonial-body,
.testimonial-triangle-isosceles-has-bg .testimonial-body {
    position:relative;
    padding:20px 20px 10px 20px;
    margin: 20px;
    color:#000;
    background:#f5f7f9;
    -webkit-border-radius:5px;
       -moz-border-radius:5px;
            border-radius:5px;

}
.testimonial-triangle-isosceles .testimonial-body {
     -webkit-box-shadow: 0 1px 0 #ddd;
        -moz-box-shadow: 0 1px 0 #ddd;
             box-shadow: 0 1px 0 #ddd;
}
.testimonial-triangle-isosceles-has-bg .testimonial-body p {
    color: #fff;
    text-align: center;
}

/* Variant : for top positioned triangle
------------------------------------------ */
.testimonial-triangle-isosceles.top .testimonial-body {
    background:#f1f2f2;
}

/* creates triangle */
.testimonial-triangle-isosceles .testimonial-body:after {
    content:"";
    position:absolute;
    bottom:-15px;
    left:50px;
    border-width:15px 15px 0;
    border-style:solid;
    border-color:#f1f2f2 transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-body:after {
    content:"";
    position:absolute;
    bottom:-15px;
    left:48%;
    border-width:15px 15px 0;
    border-style:solid;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-body:after { border-color:#f1f2f2 transparent; }
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-body.bg-pasific:after { border-color: transparent; }
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-body.bg-primary:after { border-color:#337ab7 transparent; }
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-body.bg-success:after { border-color:#5cb85c transparent; }
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-body.bg-info:after { border-color:#5bc0de transparent; }
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-body.bg-warning:after { border-color:#f0ad4e transparent; }
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-body.bg-danger:after { border-color:#d9534f transparent; }
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-body.bg-light:after { border-color:#ffffff transparent; }
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-body.bg-gray2:after { border-color:#8b949b transparent; }
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-body.bg-dark:after { border-color:#5f6467 transparent; }

/* Variant : top
------------------------------------------ */
.testimonial-triangle-isosceles.top .testimonial-body:after {
    top:-15px;
    right:50px;
    bottom:auto;
    left:auto;
    border-width:0 15px 15px;
    border-color:#f1f2f2 transparent;
}

.testimonial-triangle-isosceles .testimonial-footer { padding: 10px 0 0 55px; }
.testimonial-triangle-isosceles .testimonial-footer img { float: left; margin: -10px 20px 0 0; }
.testimonial-triangle-isosceles .testimonial-footer a {
    display: block;
    margin-top: 0;
    margin-left: 0;
    height: 30px;
}

.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-footer {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
}
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-footer img {
	width: 20%;
    margin: 0 auto 10px auto;
}
.testimonial-triangle-isosceles-has-bg.bottom-center .testimonial-footer a {
    display: block;
    margin-top: 5px;
}
.testimonial-triangle-isosceles.top .testimonial-header {
    padding-top: 10px;
    padding-right: 55px;
    text-align: right;
}
.testimonial-triangle-isosceles.top .testimonial-header img {
    float: right;
    margin: -10px 0 0 20px;
}
.testimonial-triangle-isosceles.top .testimonial-header a {
    display: block;
    margin-top: 0;
    margin-left: 0;
    height: 30px;
}
.testimonial-triangle-isosceles.top .testimonial-header i {
    float: right;
    margin-left: 10px;
}


@media (max-width: 991px) and (min-width: 768px){
/*	.navbar-inverse .navbar-nav>li>a{
		color: #313131;
		font-size: 18px !important;
		margin: 5px 5px !important;
	}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
		border-color: #fff;
	    background: #fff !important;
	    padding: 0px !important;
	    margin: 0px !important;
	    border: none !important;
	}*/
/*	ul.nav.navbar-nav.navbar-right{
		float: right !important;
		width: 650px !important;
	}*/
	button.btn.btn-primary.banner{
		background: #03A9F4 !important;
	    color: #fff;
	    font-family: 'Poppins';
	    margin: -5px 0px 0px 5px !important;
	    margin-left: 30px !important;	
	}
	.col-12.text-left{
		width: 475px !important;
	}
	.col-12.text-right{
		width: 580px !important;
		margin-top: 100px;
	}
	.font-weight-light{
		font-size: 42px !important;
	}
	.lead{
		font-size: 26px !important;
	}
	button.btn.btn-primary{
		width: 140px !important;
		height: 40px !important;
		/*display:none;*/
	}
}


/*----------media queries---------------------------*/


.nav-up {
  top: -50px;
}
.contact.contact-us-one {
    display: block;
    float: left;
    background-color: rgba(255,255,255,.9);
    padding: 20px 15px 15px 20px;
    /*border: 10px solid #dddddd;*/
    -webkit-border-radius: 5px;
     -moz-border-radius: 5px;	
    border-radius: 5px;
}
.statusMessage {
    opacity: 1;
    text-align: center;
    display: none;
    margin: auto;
    float: left;
    width: 400px;
    height: 80px;
    padding: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
button#sendMessage{
	margin-top: 20px;
	background: #03a9f4 !important;
}
#contact{
	/*margin-bottom: 100px;*/
	padding-top: 10px !important;
}
.statusMessage p {
    color: #fff !important;
}
.sending-message {
    background: #34495e;
}
.success-message {
    background: #2ecc71;
}
.failure-message {
    background: #e74c3c;
}

.font-14{
	color: #666;
	font-size: 22px;
}
.mg-bt{
	margin-bottom: 80px;
}
.contact-sv{
	display: inline-block;
}

.navbar-fixed-bottom{
	display: none;
}

.try-btn-container {
  margin: 15px 15px 0 0;
  float: right;
  visibility: hidden;
}

.pb100{
	    padding-top: 10px;
}
@media (max-width: 768px) {
  .pb100{
  	padding-bottom: 2px !important;
  	margin-bottom: 50px !important;
  	border: none !important;
  }
  .pt100{
  	padding-top: 2px !important;
  }
  .font-14{
  	font-size:18px !important;
  }
  .contact-sm{
  	font-size: 14px !important;
  }
  .try-btn-container {
    margin: -36px 64px 0 0;
  }
  .navbar-fixed-bottom{
  	bottom: 0;
      margin-bottom: 0;
      border-width: 1px 0 0;
      border: 1px solid #f2f2f2;
      background: #03a9f4;
      padding: 15px;
      text-align: center;
      color: #fff;
      display: block;
  }
}

@media (max-width: 768px) {
	.col-md-6{
		padding:0px;
		display: none;
	}
	.contact.contact-us-one{
		padding:15px;
	}
	.form-group{
	 	padding: 5px 0
		}
	.mg-bt{
		margin-bottom: 30px;
		display: none;
	}
}


/*Nav Bar Start Css*/

.nav>li>a {
	text-align: center;
	padding: 0px 0px 10px 0px;
}

.navbar-inverse .navbar-nav>li>a:hover {
	color: #03a9f4;
}

.navbar-inverse .navbar-brand {
	float: left;
	font-size: 18px !important;
}
.container-fluid{
	margin-top: 15px;
}

.navbar-inverse .navbar-toggle {
	border: none;
/*	margin-top: 15px;*/
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #03A9F4;
	margin-right: 25px;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
	background: none;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
	color: #03a9f4;
}

@media (max-width: 768px) {
	.container-fluid{
		padding:0px !important;
	}
	.navbar-inverse .navbar-nav>li>a{
		font-size: 22px !important;
		margin: 40px 25px !important;
		font-family: "Poppins";
	}
	.navbar-nav {
		/*padding-top: .425rem;
		padding-left: 0.75rem;*/
		text-align:center;
	}
	.navbar-nav .nav-item {
		float: none;
	}
	.navbar-brand {
		float: right;
	}
	.navbar-brand,
	.navbar-nav .nav-item {
		display: block;
	}
	.dropdown-menu {
		position: relative;
		float: none;
	}
	.navbar-inverse .navbar-collapse {
	   margin: 15px 0px 0px !important;
	    float: left;
	    height: 100vh;
	    width: 100%;
	    border: none;
	    background-color:#fff;
	}
}


/*Nav Bar End Css*/

@media (max-width: 768px) {
	.navbar-nav>li>a {
		padding-top: 15px;
		padding-bottom: 15px;
		color: #FFF;
	}
}

html {
	overflow-x: hidden;
}

body {
	font-family: "Poppins";
	width: 100%;
	position: relative;
	float: left;
	background-color: #F9F9F9;
}

.container {
	padding-left: 20px;
	padding-right: 20px;
	margin: 2px !important;
	margin-bottom: 100px;
	/*width: 1280px;*/
}

a#desktopAppMainLink {
	color: #fff;
	font-size: 18px;
	text-decoration: none;
	font-family: 'Poppins';
	font-weight: 400;
}

.modal-body {
	padding: 15px;
	width: 1120px;
	margin: 0 auto;
	margin-bottom: 50px;
}

.modal-dialog {
	width: 1200px;
}

.modal-title {
	font-size: 48px; 
    text-align: center;
    margin-top: 10px;
    /* font-family: "Montserrat"; */
    font-weight: 300;
    color: #03a9f4;
    font-size: 34px;
    font-family: "Poppins";
}

.modal-header .close {
	margin-top: 50px;
    margin-left: 30px;
    top: 0;
    opacity: 1;
    font-size: 36px;
    right: 0;
    margin-right: 55px;
    position: absolute;
}

.close {
	opacity: 1;
	font-size: 36px;
	margin-left: 20px;
	color: #666;
}

.modal-title-second {
	font-size: 24px;
	text-align: center;
	color: #666;
	font-weight: 300;
}

.app-desc-col {
	text-align: center;
	font-size: 18px;
	margin-bottom: 0;
	color: #666;
	font-weight: 200;
}

ul.nav.nav-tabs.modal-demo {
	border: none;
	display: inline-block;
	width: 300px;
}

h2.modal-title-text {
	font-size: 28px;
	margin-bottom: 50px;
	text-align: center;
	color: #2b2b28;
	font-weight:300;
}

li.demo-tab {
	float: none;
	border: solid 1px;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 20px;
	border: #d2d2d2 solid 1px;
}

li.active {
	float: none;
	border: #03a9fa solid 1px;
	background: #03a9f4;
	border: none;
	border-radius: 5px;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
	background: #03a9f4;
	border: none;
	color: #fff;
}

.navbar-inverse {
	background-color: transparent;
	border-color: transparent;
}

.navbar-inverse .navbar-nav>li>a {
	color: #313131;
    font-size: 18px;
    margin: 5px 15px;
}

a.model-tab-link {
	font-size: 22px;
	color: #3c3d47;
	padding: 10px 15px !important;
}

.tab-content.modal-demo {
	width: 700px;
	display: inline-block;
	vertical-align: top;
}

.tab-content>.active {
	background: #f9f9f9;
	padding: 20px 30px;
	border-radius: 5px;
	border: #f2f2f2 solid 1px;
	margin-left: 30px;
	line-height: 34px;
}

.instruction-title {
	font-size: 28px;
	margin: 10px 0 30px;
	font-weight:300;
}

p.instructions {
	font-size: 22px;
	margin-bottom: 30px;
	font-weight:200;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

img {
	width: 100%;
}

.navbar-brand {
	font-size: 20px !important;
	color: #414141 !important;
	margin-top: 12px;
}

.font-weight-light {
	color: #282828 !important;
	font-weight: 500;
	font-family: "Poppins";
}

.logo {
	width: 32px;
	height: 32px;
	float: left;
	margin-top: 20px;
	background-image: url('https://cdn.bizanalyst.in/assets/img/logo/logo-32x32.png');
}

header {
    height: 90px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;
    transition: all 0.5s linear;
    z-index: 99;
}

header.active.nav-down {
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    height: 100px;
    background: #fff;
}

.nav-up {
    top: -135px;
}

.header {
	margin-bottom: 50px;
}

.first-col {
	margin-top: 150px;
}

@media (max-width: 768px) {
	.first-col {
		margin-top: 50px !important;
	}
	header.active.nav-down{
		height: 80px !important;
		z-index: 9999;
	}
}

.play-video {
	vertical-align: text-top;
}

svg#play-1 {
	width: 25px;
	height: 25px;
	vertical-align: sub;
}

@media (max-width: 768px) {
	svg#play {
		width: 20px !important;
		height: 20px !important;
		margin-right: 5px;
	}
}

svg#play {
	height: 20px;
	width: 20px;
	vertical-align: sub;
}

#right-arrow {
	height: 20px;
	width: 20px;
	vertical-align: middle;
}

.container {
	margin: 0 auto !important;
}

/*@media (max-width: 1200px) {
	.container {
		width: 1170px;
	}
}*/

@media (max-width: 768px) {
	.container {
		width: 100%;
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
}


/*@media (max-width: 992px) {
	.container {
		 width: 970px;
	}
}*/

.navbar {
	margin-right: 60px;
	margin-left: 60px;
	margin-top: 15px;
}

@media (max-width: 768px) {
	.navbar {
		margin:0 auto;
	}
}

.navbar-nav {
	/*float: right !important;*/
	/*margin-top: 10px !important;*/
}

a.nav-item.nav-link {
	font-size: 20px;
	color: #333;
	/*	margin-right : 30px;*/
	font-family: "Poppins";
}

.dropdown-menu {
	padding: 12px 12px;
	font-size: 18px;
	border: none;
	color: #414141;
	font-family: 'Poppins';
}

.row.h-100.align-items-center {
	display: flex;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.col-12.text-left {
	/*width: 45%;*/
	margin-top: 100px;
	/*margin-right: 50px;*/
}

@media (max-width: 768px) {
	.col-12.text-left {
		width: 100%;
		margin-bottom: 50px;
	}
	.row.h-100.align-items-center{
		display: block !important;
	}
}

.col-12.text-right {
	/*width: 60%;*/
	/*margin-top: 100px;*/
}

@media (max-width: 768px) {
	.col-12.text-right {
		width:100%;
		display: block;
	}
}

.over-lay {
	display: none;
	position: absolute;
	top: 0;
	width: 30%;
}

.col-12.text-right:hover .over-lay {
	display: block;
}

h1 {
	font-size: 48px !important;
	color: #fff !important;
}

@media (max-width: 768px) {
	h1 {
		font-size: 32px !important;
	}
}

.lead {
	font-size: 26px !important;
	color: #2b2b28;
	font-family: "Roboto";
	margin-top: 20px;
	font-weight: 400;
}

.lead-sm {
	font-size: 22px !important;
	color: #5f6769;
	font-family: "Roboto";
	margin-top: 20px;
	font-weight: 400;
	display:none;
}

@media (max-width: 768px) {
	.lead {
		font-size: 22px !important;
		font-weight: 400 !important;
	}
	.lead-sm {
		font-size: 20px !important;
	}
}

.cta {
	margin-top: 100px;
}

@media (max-width: 768px) {
	.cta {
		display: none;
	}
}

button.btn.btn-primary.banner {
	background: #FF9800 !important;
	color: #fff;
	font-family: 'Poppins';
	margin: -5px 0px 0px 5px;
	/*	width: 150px;
	height: 40px;*/
	margin-left: 30px;
}

button.btn.btn-primary.video-btn {
	background: none !important;
	color: #03a9f4;
	font-family: 'Poppins';
	/*margin: 0px 20px 0px 0px;*/
	margin-left: -30px;
	font-weight: 400;
}

@media (max-width: 768px) {
	button.btn.btn-primary {
		width: 150px;
		height: 50px;
		/*display: none;*/
	}
}

@media (max-width: 768px) {
	button.btn.btn.btn-primary.video-btn {
		display: none;
	}
}

button.btn.btn-secondary.banner {
	border: #03A9F4 solid 1px;
	color: #333;
}

button.btn.btn-secondary.banner:hover {
	/*background: #fff;*/
	letter-spacing: 1px;
	transition: all 0.4s 0s ease;
	/*color: #03A9F4;*/
	border: none;
}

button.btn.btn-primary.prize {
	margin: 0;
	background: #03a9f4 !important;
}

@media (max-width: 768px) {
	button.btn.btn-primary.prize {
		width: 130px;
		height: 40px;
	}
	button.btn.btn-primary.prize.desktop {
		display: none;
	}
	button.btn.btn-primary.prize.mobile {
		display: block !important;
		margin: 0 auto;
	}
	a.android-link {
		color: #fff;
		font-size: 18px;
		font-weight: 400;
		text-decoration: none;
		font-family: 'Poppins';
	}
}

button.btn.btn-primary.prize.mobile {
	display: none;
}

button.btn.btn-primary {
	width: 190px;
	height: 50px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 500;
	margin-right: 30px;
	background: #FF9800 !important;
	border: none;
	transition: transform 0.8s;
}

@media (max-width: 768px) {
	button.btn.btn-primary {
		width: 150px;
		height: 50px;
		font-size: 14px;
		font-weight: 200;
	}
}

button.btn.btn-primary:hover {
	letter-spacing: 1px;
	transition: all 0.4s 0s ease;
	/*color: #03A9F4;*/
	border: 1px solid #03A9F4;
	text-decoration: none;
}

button.btn.btn-secondary {
	width: 190px;
	height: 50px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: 500;
	border: #333 solid 1px;
	background: none;
	color: #333;
}

@media (max-width: 768px) {
	button.btn.btn-secondary {
		width: 150px;
		height: 50px;
		font-weight: 200;
		font-size: 16px;
	}
}


@media (max-width: 768px) {
	.faq-bk {
		margin-top: 5px !important;
		/*margin-bottom: 50px !important;*/
	}
	.panel-group {
		margin-top: 30px !important;
	}
}

._row.seprater-3 {
	display: inline-block;
	margin-top: 80px;
	width: 100%;
}

.col-sm.seprater-3 {
	display: inline-block;
	padding-top: 20px;
	vertical-align: top;
}

.col-sm.seprater-3 h4 {
	margin: 0;
	vertical-align: top;
	font-size: 28px;
	text-align: left;
}

span.pl-ft {
	font-size: 20px;
	float: left;
	font-weight: 300;
}

.faq-bk {
	margin-top: 70px;
	/*margin-bottom: 100px;*/
}

.panel-group {
	margin-top: 80px;
}

.panel-heading {
	padding: 30px;
	background-color: #fff !important;
	border-color: #fff;
	color: #414141;
}

.panel-body {
	padding: 30px;
	margin-left: 35px;
	color: #666;
	line-height: 28px;
	font-weight: 200;
	font-size: 18px;
	font-family: "Roboto";
	letter-spacing: 1px;
}

.panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 18px;
	color: inherit;
	font-family: 'Poppins';
	color: #414141;
}

.panel-default{
	border:1px solid #fff;
}

.glyphicon {
	position: relative;
	top: 5px;
	display: inline-block;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 28px;
	margin-right: 20px;
}

.col-sm.seprater-image {
	margin-right: 30px;
	display: inline-block;
	width: 130px;
	height: 50px;
	margin-right: 30px;
}

.col-sm.seprater-image img {
	width: 100%;
}

h4.footer-header-title {
	margin-bottom: 30px !important;
	font-size: 18px !important;
}

.ln-1 {
	border: 1px solid #f2f2f2;
}

.price-rate {
	font-size: 16px;
	padding: 8px;
}

.footer-linking {
	display: block;
	margin-bottom: 10px;
	font-size: 16px;
	cursor: pointer;
	color: #313131;
	font-weight: 300;
}

p.add {
	line-height: 23px;
	color: #313131;
	font-weight: 300;
}

.col-sm.seprater-3.pl-ff {
	display: block;
	padding-top: 20px;
	margin-right: 20px;
	width: 650px;
}

@media (max-width: 768px) {
	.footer-cta {
		display: none;
	}
	.col-sm.seprater-3 h4 {
		font-size: 18px !important;
	}
	span.pl-ft {
		font-size: 16px !important;
	}
	.col-sm.seprater-3.pl-ff {
		width: 100% !important;
		padding-top: 0px;
	}
	._row.seprater-3.footer {
		text-align: left !important;
		margin-top: 1px !important;
	}
	.seprater.footer{
		margin-top: 50px !important;
	}
	.seprater.footer.sp-3{
		display: none;
	}

}

.footer-cta {
	float: right;
	vertical-align: baseline;
	position: relative;
	margin-top: -25px;
}

.footer-wrapper {
	background: #fff;
}

.container.footer {
	margin-bottom: 0;
	padding-left: 20px !important;
}

.seprater.footer {
	background: #e3f2fd;
	margin-bottom: 0;
	height: 145px;
	margin-top: 80px;
}

._row.seprater-3.footer {
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.footer-ln {
	border: 1px solid #f2f2f2;
	margin-bottom: 30px;
	margin-top: 30px;
}

.social-icons {
	display: flex;
	width: 500px;
}

.share {
	margin-right: 15px;
}

svg#social {
	width: 40px;
	height: 40px;
}

/*Feature Css*/

@media (max-width: 768px) {
	._card-nmb {
		margin-bottom: 15px;
		height: 100%!important;
		width: 100% !important;
		margin-right: 0px !important;
	}
	.nmb-text {
		font-size: 32px !important;
	}
	.text-nmb-1 {
		font-size: 24px !important;
	}
	.text-nmb-2 {
		font-size: 18px !important;
		font-weight: 100 !important;
	}
	svg#arrow-up {
		height: 25px;
	}
	.sm-hd {
		font-size: 24px !important;
		font-weight: 400 !important;
	}

	.container.sect-3 {
		margin-bottom: 50px !important;
	}
	.product-desc-left {
		width: 100% !important;
	    width: 100% !important;
	    text-align: center;
	    margin-right: 0px !important;
	    padding: 0px !important;

	}
	.product-desc-right {
		width: 100% !important;
		padding:0px !important;
	}
	iframe {
		width: 100%;
	}
	._col-sm.ft-1 {
		width: 100% !important;
		text-align: center;
	}
	.r-title {
		font-size: 24px;
		font-family: 'Poppins';
		font-weight: 400;
	}
	.ft-1-title {
		margin: 0 auto !important;
		display: block !important;
		text-align: left !important;
	}

	.px-2{
		display: block !important;
		margin-bottom: 10px !important;
	}
	.container.number-details{
		padding:0px !important;
	}
	.mrg-bt{
		display: none;
	}
	.row.ft-1{
		display: block !important;
	}
	.ft1.col-sm-6{
		width: 100%;
		margin-right: 0px !important;
	}

}

.px-2 {
	margin-bottom: 100px;
	display:flex;
	width: 100%;
	text-align: center;
	margin-bottom: 70px;
}

._card-nmb {
/*	width: 350px;*/
	margin-right: 20px;
	border-radius: 5px;
	background: #fff;
	display: inline-block;
	border-radius: 5px;
	height: 250px;
	vertical-align: middle;
	transition: all 0.9s ease-in-out;
}
._card-nmb:hover{
	transition: all 0.9s ease-in-out;
	box-shadow: 0 0 11px rgb(33 33 33 / 0.2);
}

._card-body-nmb {
	padding: 20px;
}

.nmb-text {
	display: inline-block;
	font-size: 42px;
	font-weight: 600;
	color: #414141;
	text-align: center;
	margin-top: 10px;
	font-weight: 500;
	font-family: "Poppins";
}

.text-nmb-1 {
	display: block;
	text-align: center;
	font-size: 24px;
	margin-top: 15px;
	color: #2196F3;
	font-family: "Roboto";
	font-weight: 400;
}

.text-nmb-2 {
	display: block;
	text-align: center;
	font-size: 18px;
	font-weight: 300;
	color: #666;
	font-family: "Roboto";
	line-height: 30px;
	letter-spacing: 1px;
	margin-top: 15px;
}

svg#arrow-up {
	display: inline-block;
	margin-right: 10px;
}

.container.sect-2 {
	/*margin-bottom: 100px !important;*/
}

.mrg-bt {
	margin-bottom: 80px;
}

.row.ft-1{
	display: flex;
}

.product-desc-left {
/*	width: 530px;*/
	display: inline-block;
	margin-right: 30px;
}

.product-desc-right {
/*	width: 460px;*/
	display: inline-block;
	vertical-align: top;
	/*margin-top: 50px;*/
}

.product-desc{
	transition: all 0.9s ease-in-out;
}

.product-desc:hover {
	transition: all 0.9s ease-in-out;
	box-shadow: 0 0 11px rgb(33 33 33 / 0.2);
}

.sm-hd {
	font-size: 28px;
	font-weight: 500;
	font-size: 28px;
    font-weight: 300;
    font-family: "Poppins";
    color: #2196F3;
}

.container.sect-3 {
	margin-bottom: 100px !important;
}

.ft1.col-sm-6 {
	/*width: 45%;*/
	display: inline-block;
	margin-right: 25px;
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 25px;
	vertical-align: top;
	transition: all 0.9s ease-in-out;
}
.ft1.col-sm-6:hover{
	transition: all 0.9s ease-in-out;
	box-shadow: 0 0 11px rgb(33 33 33 / 0.2);
}

.ft-1-icon {
	width: 50px;
	display: inline-block;
	vertical-align: middle;
}

.ft-1-title {
	display: inline-block;
	margin-left: 15px;
}

.r-title {
	font-size: 22px;
	font-family: 'Poppins';
	color: #2196F3;
}